.about{
    color: $forthColor;
    padding: 2vww;
    transition: .3s;
    h2{
        padding: 1vw;
        text-transform: capitalize;
        margin-bottom: 0;
    }
    p{
        padding:1vw;
    }
}