.howToUse{
		padding: 0;
    margin-top: 3vw;
    padding-top: 1vw;
    background: $forthColor;
    color: #fff;
    p{
        padding: 1vw;
    }
    h2{
        color: $mainColor;
        padding: 1vw;
        margin-bottom: 0;
    }
    img{
        width: 100%;
    }
}